{% extends 'base.html' %}

{% block body %}<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{anime.img.url}}" width="510px" height="300px">
        </div>
        <div class="col-md-6">
            <h4>{{anime.name}}</h4>
            <h5>{{anime.desc}}</h5>
            <h6>{{anime.seasons}}</h6>
            <a class="btn btn-warning" href="{% url 'animeapp:update' anime.id %}">EDIT</a>
            <a class="btn btn-danger" href="{% url 'animeapp:delete' anime.id %}">DELETE</a>
        </div>
    </div>
</div>
{% endblock %}